.dashboard {
  overflow-y: auto;

  .bar {
    height: 4rem;
    @include flex(row, unset);
    padding: 0 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.37);
    > input {
      margin-right: auto;
      @include inputStyle(100%, 1rem 0);
    }
    > svg {
      font-size: 1.2rem;
      opacity: 0.7;
    }
    > img {
      @include square(2rem);
      border-radius: 50%;
    }
  }

  .widgetcontainer{
    @include flex(row, space-between, stretch, 2rem);
    padding: 2rem 2rem 2rem 0;
    
    .widget{
        min-width: 16rem;
        background-color: white;
        box-shadow: 0 0 10px rgba(0,0,0,0.132);
        padding: 2rem;
        border-radius: 10px;
        @include flex(row, space-between, stretch, 0);
        .widgetInfo{
            >p{
                opacity: 0.7;
                font-size: 0.8rem;
            }
            >h4{
                font-size: 1.5rem;
            }
            >span{
                @include flex(row, unset, center, 0.2rem)
            }
        }

        .widgetCircle{
            position: relative;
            @include square(5rem);
            flex: none;
            border-radius: 50%;
            display: grid;
            place-items: center;
            background-color: aqua;

            &::before{
                content: "";
                position: absolute;
                @include square(4rem);
                background-color: white;
                border-radius: 100%;
            }
            span{
                position: relative;
            }
        }
    }
  }
}
