.dashboard-product-box {
    background-color: white;
    padding: 2rem;
    overflow: auto;
    @include square(100%);
  }

  .create-product-btn {
    position: fixed;
    right: 2rem;
    top: 2rem;
    @include square(2.5rem);
    @include flex(row, center, center, 0);
    border-radius: 50%;
    background-color: rgb(201, 9, 9);
    color: white;
    &:hover {
      opacity: 0.8;
    }
  }